{{> post-info post}}

<div id="review-div">
    <h1 id="review-title">User Review</h1>
    <h3 id="review-text">{{post.review}}</h3>
  </div>

{{#if loggedIn}}
<form class="comment-form">
  <div>
    <h3>Comment as {{post.user.username}}</h3>
    <textarea name="comment-body"></textarea>
  </div>

  <div>
    <button type="submit">add comment</button>
    <button type="button" class="upvote-btn">upvote</button>
  </div>
</form>
{{/if}}

{{> comments post.comments}}

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
<script src="/javascript/upvote.js"></script>
{{/if}}